@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: 156 48% 6%;
    --background: 156 56% 98%;
    --primary: 152 49% 53%;
    --secondary: 216 49% 75%;
    --accent: 236 49% 65%;
  }
  .dark {
    --text: 156 48% 94%;
    --background: 160 60% 2%;
    --primary: 152 49% 47%;
    --secondary: 216 48% 25%;
    --accent: 237 49% 35%;
  }
}
